<mat-toolbar color="primary">
    <mat-toolbar-row>
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">Centro Canino Dingo</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/home">Inicio</a>
            </li>
            <li>
                <a routerLink="/contact">Contacto</a>
            </li>
        </ul>
    </div>
</mat-toolbar-row>
  </mat-toolbar>
